openai
requests
pandas
NLTK
matplotlib
seaborn
wordcloud
streamlit
plotly
spacy
spacy-langdetect
langdetect
langid
presidio-analyzer
presidio-anonymizer
openpyxl
modin[ray]
scikit-learn
torch
transformers